.buy {
	margin: 40px 0 0 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 60px;
	color: var(--w);
	position: relative;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.buy_timer_title {
	text-align: center;
	font-weight: bold;
	margin: 20px 0;
}
.buy_timer_title h3 {
	color: #404040;
	line-height: 1em;
}
.buy_timer_title h3 span {
	color: #151515;
}
.buy_timer_container {
	background: #43D24A;
	border-radius: 10px;
	color: #fff;
	max-width: 300px;
	margin: 0 auto;
	border: 2px solid var(--w);
}
.buy_timer_container > div {
	width: 100px;
	text-align: center;
	padding: 10px;
}
.buy_timer_container > div > h2 {
	line-height: 1em;
	letter-spacing: -2px;
}
.buy_title {
	max-width: 550px;
	margin: 0 auto 40px auto;
	font-weight: bold;
}
.buy_title h3 {
	color: #151515;
	line-height: 1em;
	text-align: center;
}
.buy_container > ul > li:not(:last-child){
	margin-bottom: 10px;
}
.buy_container > ul > li > i {
	font-size: 1.1em;
	margin-right: 10px;
	color: var(--theme_green);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: var(--w);
}
/*block*/
.buy_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.buy_peyments {
	text-align: center;
	margin-bottom: 20px;
}
.buy_peyments img {
	width: calc(100% - 20px);
	max-width: 300px;
	margin-bottom: -6px;
}
.buy_wrapper > .buy_block:nth-child(2) > .buy_block_title {
	background: #43D24A;
}
.buy_wrapper > .buy_block:nth-child(2):after {
    content: '';
    width: 145px;
    height: 154px;
    position: absolute;
    right: -42px;
    top: -47px;
    background: url("../../img/best_choise.png");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    z-index: 2;
}
.buy_wrapper.clicked > .buy_block:nth-child(2):after {
    content: '';
    display: none;
}
.buy_block {
	width: calc( (100% - 40px) / 3);
	background:var(--w);
	color: var(--b);
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 12px -5px #313131; 
	box-shadow: 0px 3px 12px -5px #313131;
	position: relative;
}
.buy_block_title {
	background: #277DB2;
	color: #fff;
	text-align: center;
	padding: 10px 5px;
	font-weight: bold;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.buy_price {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.buy_price {
	margin: 20px 0;
	text-align: center;
}
.buy_old_price h4 {
	position: relative;
	line-height: 1em;
}
.buy_old_price h4:after {
	content: "";
	display: block;
	position: absolute;
	width: 50px;
	height: 2px;
	background: var(--c);
	opacity: 1;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50% , 0);
}
.buy_price .buy_old_price{
	opacity: 0.5;
	font-weight: bold;
	padding-left: 5px;
}
.buy_price .buy_old_price ,
.buy_price .buy_price_holder {
	width: 100px;
}
.buy_new_price {
	font-weight: bold;
	color: #BC3119;
}
.buy_new_price > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy_new_price > p {
	font-size: 1.4em;
}
.buy_new_price > div > h2 {
	padding-right: 10px;
	font-size: 3.2em;
	letter-spacing: -2px;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	margin-left: 50px;
}
.buy_new_price > div > p {
	text-align: left;
	width: 50px;
}
.buy_new_price h2 {
	line-height: 1em;
}
.buy_bottle {
	text-align: center;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy_bottle img{
	max-width: 100%;
	max-height: 250px;
}
.buy_info {
	text-align: center;
	font-weight: bold;
}
.buy_link {
	margin-top: 20px;
}
.buy_link a {
	background: #43D24A;
	width: calc(100% - 20px);
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: bold;
	padding: 10px 10px;
	font-size: 1.4em;
	max-width: 360px;
	border-radius: 10px;
    animation: rocking 2s infinite;
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    transition: .2s;
}
.buy_link a:hover {
	 animation: none;
	 background: linear-gradient(0deg, rgba(237,165,30,1) 0%, rgba(253,247,45,1) 100%);
}
@keyframes rocking{0%{transform:rotate(0deg)}25%{transform:rotate(0deg)}50%{transform:rotate(2deg)}75%{transform:rotate(-2deg)}100%{transform:rotate(0deg)}}
.buy_payments {
	text-align: center;
}
.buy_payments img {
	width: 100%;
	max-width: 320px;
}
@media screen and (max-width: 991px) {
	/*left*/
	.buy {
		padding-right: 0;
	}
	/*right*/
	.buy {
		padding-left: 0;
	}
	.buy_title {
		margin: 20px auto;
		text-align: center;
	}
	.buy_container {
		max-width: 500px;
		margin: 0 auto;
	}
	.buy_wrapper {
		flex-wrap: wrap;
	}
	.buy_block {
	    width: 100%;
	    margin-bottom: 10px;
	}
}
