.intro {
	padding-top: 20px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 60px;
	background: url("../../img/header.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	position: relative;
}
.intro > .wrapper {
	position: relative;
	z-index: 2;
}
/*left*/
.intro_left_product {
	text-align: center;
	padding-right: 10px;
}
.intro_left_product img {
	width: 100%;
	max-width: 350px;
	margin-bottom: -6px;
}
.intro_left_timer_title {
	text-align: center;
	font-weight: bold;
	margin: 20px 0;
}
.intro_left_timer_title h3 {
	line-height: 1em;
}
.intro_left_timer_title h3 span {
	color: #ffffff;
}
.intro_left_timer_container {
	background: #ff4d4d;
	border-radius: 10px;
	max-width: 300px;
	margin: 0 auto;
	border: 2px solid var(--w);
}
.intro_left_timer_container > div {
	width: 100px;
	text-align: center;
	padding: 10px;
}
.intro_left_timer_container > div > h2 {
	line-height: 1em;
	letter-spacing: -2px;
}
/*right*/
.intro_right {
	padding-left: 10px;
}
.intro_right_title {
	margin-bottom: 20px;
	max-width: 450px;
}
.intro_right_title h2 {
	line-height: 1em;
	font-weight: bold;
}
.intro_right_title h2 > strong {
	color: #FFE500;
}
.intro_right_container > ul > li:not(:last-child){
	margin-bottom: 10px;
}
.intro_right_container > ul > li > i {
	font-size: 1.1em;
	margin-right: 10px;
	color: var(--theme_green);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: var(--w);
}
.intro_right_container > ul > li span {
	color: var(--theme_yellow_light);
	font-weight: bold;
}
.intro_right_price {
	margin: 20px 0;
	text-align: center;
}
.intro_right_old_price{
	opacity: 0.90;
	position: relative;
}
.intro_right_old_price:after {
	content: "";
	display: block;
	position: absolute;
	width: 150px;
	height: 1px;
	background: var(--w);
	opacity: 0.9;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50% , 0);
}
.intro_anchor {
	margin-top: 20px;
}
.intro_anchor a {
	background: #ff7100;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding: 10px 10px;
	max-width: 360px;
	border-radius: 10px;
	margin: 0 auto;
    animation: rocking 2s infinite;
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    transition: .2s;
}
.intro_anchor a:hover {
	 animation: none;
	 background: linear-gradient(0deg, rgba(237,165,30,1) 0%, rgba(253,247,45,1) 100%); 
}
@keyframes rocking{0%{transform:rotate(0deg)}25%{transform:rotate(0deg)}50%{transform:rotate(2deg)}75%{transform:rotate(-2deg)}100%{transform:rotate(0deg)}}
.intro_right_payments {
	text-align: center;
}
.intro_right_payments img {
	width: 100%;
	max-width: 320px;
}
@media screen and (max-width: 991px) {
	/*left*/
	.intro_left {
		padding-right: 0;
	}
	.intro_left_product {
		padding-right: 0;
	}
	/*right*/
	.intro_right {
		padding-left: 0;
	}
	.intro_right_title {
		margin: 20px auto;
		text-align: center;
	}
	.intro_right_container {
		max-width: 400px;
		margin: 0 auto;
	}
}
